body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

label {
    font-size: 20px;
}

#textInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.button0 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.button0:hover {
    background-color: #45a049;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}